.timerHolder {
    background-color: #0e0052;
   
    width: 100vh;
    height: 10.6vh;
    top: 78.1dvh;
    /* Replace margin-top with top in vh */
   
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 0.3vh solid yellow;
    
    position: fixed;
    
    animation: onShowTimer 0.5s;
   
    z-index: 5;
}

.close {
    background-color: rgb(0, 0, 0);
    
    right: 5px;
    top: 5px;
    height: 30px;
    max-height: 25px;
    
    box-shadow: 0px 4px 1px 3px black;
    
    position: absolute;
    
    transition: background-color 0.3s;
}

.hidenTimer {
    display: none;
}

.close:hover {
    background-color: black;
    transition: 0.3s;
}

.close p {
    margin-top: -8px;
    text-align: center;
    font-size: 10px;

}

.rules {
    color: aliceblue;

    width: 100vh;
    height: 8vh;
    
    font-size: 5vh;
    
    text-align: center;
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    margin-top: 1.5vh;
    
    position: fixed;
    
    animation: onShowTimerText 1s;

}





/* @media only screen and (min-resolution: 1.88dppx) and (max-resolution: 3.65dppx) {
    .timerHolder {
        top: 73.3vh;
        animation: onShowTimer 0.5s;
    }

} */

@media only screen and (min-resolution: 3.66dppx) and (max-resolution: 6.65dppx) {
    .timerHolder {
        top: 80.5dvh;
        animation: onShowTimer 0.5s;
    }
}

/* @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .rules {
        top: 74.5vh;
        width: 50vh;
        height: 8vh;
        text-align: center;
        font-size: 5vh;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        animation: onShowTimerText 1s;
    }

    .timerHolder {
        position: fixed;
        background-color: #0e0052;
        width: 50vh;
        height: 10vh;
        top: 77.5vh;
        z-index: 5;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border: 0.3vh solid yellow;
        animation: onShowTimer 0.5s;
    }
} */

@keyframes onShowTimerText {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }


    100% {
        opacity: 1;
    }

}

@keyframes onShowTimer {
    0% {
        height: 0px;
        margin-top: 270px;
        opacity: 0.0;
    }

    100% {
        opacity: 1;

        height: 13.6vh;
    }
}