.main-containerComp {
    background-color: #0e0052;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 10px 150px rgba(0, 0, 0, 0.7);
}

.content-containerComp {
    /* background-color: rgb(216, 33, 33); */
    border-radius: 10px;
    width: 95%;
    padding: 20px;
    height: 85%;
}

.catalog-sectionComp {

    background-color: rgb(229, 229, 229);
    border-radius: 10px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;

}

.vsImg {
    position: absolute;
    height: 130px;
    width: 130px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: -4px;
    z-index: 0;
}

.compare-image {

    position: relative;
    width: auto;
    max-height: 95%;
    min-height: 95%;
    max-width: 100%;
    min-width: 80%;
    z-index: 3;

    margin-top: -17px;

    border-radius: 4px;

    left: 50%;
    transform: translateX(-50%);

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;



    -webkit-box-shadow: 0px 0.5px 14px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0.5px 14px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0.5px 10px 1px rgba(0, 0, 0, 0.75);

    transition: box-shadow 1s;
    transition: -moz-box-shadow 1s;
    transition: -webkit-box-shadow 1s;


    transition: opacity 1s;



}

.compare-image:hover {
    -webkit-box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.63);
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.63);
    opacity: 1;

    transition: opacity 1s;

    transition: 1s;

}

.compare-item {
    position: relative;
    top: 10px;
    padding-top: 20px;

    max-height: 85%;
    min-width: 30%;
    max-width: 100%;

    border-radius: 10px;

}

.compare-item:hover {
    opacity: 1;
    transition: opacity 1s;
}


.info a {
    /* color: #1d0171; */
    color: white;
    font-size: 20px;
}

.info {
    position: relative;
    background-color: #9146FF;
    color: rgb(255, 255, 255);
    margin: auto;



    padding-top: 10px;
    padding-bottom: 10px;

    width: 100%;
    height: 30px;
    margin-top: -9.29px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    font-size: 13px;
    text-align: center;
    z-index: 3;



    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.75);

    transition: box-shadow 1s;
    transition: -moz-box-shadow 1s;
    transition: -webkit-box-shadow 1s;
}

.info:hover {
    -webkit-box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.63);
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.63);

    transition: 1s;
}

.logoLink {
    height: 100%;
}

.name {
    margin-top: -18px;
    color: rgb(57, 0, 55);
    text-align: center;
    font-size: 3vh;
}

.votes {
    position: absolute;
    width: auto;
    max-height: 95%;
    min-height: 94.3%;
    max-width: 100%;
    min-width: 100%;
    z-index: 2;
    background-color: rgb(0, 0, 0);
    margin-top: -17px;
    opacity: 0.78;
    border-radius: 4px;

    left: 50%;
    transform: translateX(-50%);

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.winner {
    border: solid 8px green;

    transition: 1s;
}

.loser {
    border: solid 8px rgb(255, 0, 0);

    transition: 1s;
}

.loser:hover {
    filter: opacity(0.53);
    transition: 1s;
}

.voted {
    position: absolute;
    text-align: center;
    color: rgb(0, 0, 0);

    top: 40%;
    transform: translateY(-10%);
    left: 50%;
    transform: translateX(-50%);

    font-size: 6vh;
    z-index: 4;

    background-color: rgba(255, 255, 255, 0.6);
    width: 60%;

    animation: onShowVoted 1s;

    opacity: 3;
}

.votes-count {
    position: absolute;
    text-align: center;
    color: rgb(0, 0, 0);

    background-color: rgba(255, 255, 255, 0.6);
    width: 60%;


    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);

    font-size: 6vh;
    z-index: 4;

    animation: onShowVoted 1s;

    opacity: 1;
}

.hiddenMenu {
    background-color: rgb(255, 0, 0);

    z-index: 4;
    position: absolute;
    display: flex;

    cursor: pointer;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.hiddenMenu h1 {
    margin: 7px;
    font-size: 15px;
}

.hiddenMenu:hover {
    background-color: rgb(0, 0, 0);
    transition: 0.5s;
}


/* could be 1.25dppx */
@media only screen and (min-resolution: 1.88dppx) and (max-resolution: 5dppx) {

    .name {
        font-size: 1px;
    }

    .content-containerComp {
        height: 20vh;
        /* background-color: rgb(109, 95, 95); */
        padding: 10px;
    }

    .catalog-sectionComp {
        height: 85vh;
        background-color: rgb(186, 2, 2);
    }


    .compare-image {
        width: 100%;
        max-width: 90%;
        min-height: 100%;
        margin-top: -13px;
        /* max-height: 90px;
        text-align: center; */
    }

    .compare-item {
        position: relative;
        max-width: 70vh;
        min-width: 50vh;
        height: 70vh;
        padding-bottom: 0.6vh;
        margin-top: -5px;
        margin-left: -0.5vh;
    }

    .content-containerComp {
        height: fit-content;
    }

    .name {
        position: relative;
        color: rgb(0, 0, 0);
        font-size: 3vh;
        top: -8px;
        z-index: 2;
    }

    .logoLink {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .info {
        font-size: 8px;
        width: 90.2%;
        height: 15px;
        position: relative;
        padding: 0px;
        padding-bottom: 5px;
        padding-top: 2px;

        z-index: 3;
    }

    .votes {
        position: absolute;
        width: auto;
        max-height: 100%;
        min-height: 80%;
        max-width: 100%;
        min-width: 90%;
        z-index: 2;
        opacity: 0.38;
        background-color: red;
        margin-top: -13px;
        border-radius: 10px;
        left: 50%;
        transform: translateX(-50%);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

    }
}

/* ----------- PHONE CSS ---------------*/
@media only screen and (min-width: 320px) and (max-width: 767px) and (min-height: 480px) and (max-height: 1024px) {
    .catalog-sectionComp {
        margin: 0 auto;
        margin-top: 10%;
        height: 60%;
        background-color: rgb(255, 255, 255);

    }

    .content-containerComp {
        height: 80%;
        width: 100%;
    }

    .name {
        margin-top: -30px;
        z-index: 5;
        color: rgb(0, 0, 0);
    }

    .compare-image {
        position: relative;
        top: -20px;
        min-height: 31.5vh;
    }

    .compare-item {
        min-width: 22.3vh;
        max-width: 25vh;
        min-height: 33vh;
        max-height: 30vh;
        margin: auto;
    }

    .voted {
        font-size: 2vh;
        animation: onShowVoted 0s;

    }

    .votes-count {
        font-size: 2vh;
        animation: onShowVoted 0s;

    }

}



@keyframes onShowVoted {
    0% {
        margin-top: 20vh;
        opacity: 0;
        font-size: 1vh;
    }

    100% {
        margin-top: none;

        opacity: 1;
        font-size: 6vh;

    }
}