/* DESKTOP CSS */
@media screen and (min-resolution:0.2dppx) and (max-resolution:6.65dppx) {
    .main-containerComp {
        background-color: var(--background-color-pick);
        /* background-color: #0e0052; */

        /* box-shadow: inset 0px 10px 150px rgba(0, 0, 0, 0.7); */
        box-shadow: inset 0px 03px 100px rgba(0, 0, 0, 0.6);

        display: flex;

        width: 100%;
        height: 100svh;

        overflow: hidden;
    }

    .content-containerComp {
        background-color: #eeeeee;
        width: 100dvw;
        height: 80svh;


        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
        align-content: center;

        margin: auto;
    }

    .catalog-sectionComp {
        background-color: #eeeeee;
        background-color: var(--imageHolder);

        display: flex;

        height: 90.5%;
        width: 94%;

        align-items: center;
        justify-content: space-evenly;

        border-radius: 0.8dvw;

        margin: auto;
    }

    .compare-item {

        display: flex;

        height: 61.5svh;
        width: auto;

        margin: auto;
        margin-top: 8svh;
        min-width: 290px;
        position: relative;
    }

    .compare-image {
        background-color: rgb(188, 188, 188);

        width: 96.5%;
        height: 100%;

        box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.75);

        transition: box-shadow 1s;
        transition: -moz-box-shadow 1s;
        transition: -webkit-box-shadow 1s;

        border-radius: 0.8dvw;

        cursor: pointer;

        margin: auto;

        z-index: 2;
    }

    .name {
        color: rgb(0, 0, 0);
        text-align: center;
        margin-top: 0rem;
        width: 100%;

        font-size: 3.5svh;

    }

    .name a {
        color: #9146FF;

        text-align: center;
        font-weight: bolder;

        transition: color 1.2s;
    }

    .name a:hover {
        color: #eb0000;
    }

    .nameHolder {

        margin-top: -5svh;
        width: 96.7%;
        left: 0.42dvw;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

        position: absolute;
    }

    .donateLeft {
        font-size: 2dvw;
        text-align: center;
        align-content: center;

        padding: 1dvw;

        position: absolute;

        background-color: var(--adsBackgroundColor);

        color: white;

        left: -11.7dvw;
        padding-left: 2dvw;
        padding-right: 2dvw;

        transform: rotate(-90deg);
        top: 30.5%;

        border-radius: 0.7dvh;
        box-shadow: 0px 0.4px 5px 0.3px rgb(0, 0, 0);

        font-weight: bold;
        z-index: 1;
    }

    .donateRight {
        font-size: 2vw;
        text-align: center;
        align-content: center;

        padding: 1dvw;

        position: absolute;

        background-color: var(--adsBackgroundColor);

        color: white;

        right: -11.7dvw;

        padding-left: 2dvw;
        padding-right: 2dvw;

        border-radius: 0.7dvh;
        transform: rotate(-90deg);
        top: 30.5%;

        box-shadow: 0px 0.4px 5px 0.3px rgb(0, 0, 0);

        font-weight: bold;
        z-index: 1;

    }

    .donateRight:hover {
        cursor: grab;
    }

    .donateLeft:hover {
        cursor: grab;
    }

    .winner {
        border-left: solid 0.25dvw rgb(255, 234, 0);
        border-right: solid 0.25dvw rgb(255, 234, 0);


        border-top: solid 0.5svh rgb(255, 234, 0);

        border-bottom: solid 0.5svh rgb(255, 234, 0);

        /* filter: brightness(70%); */


        transition: 1s;
    }

    .loser {
        /* border-left: solid 0.25dvw rgb(128, 0, 0, 1);
        border-right: solid 0.25dvw rgb(128, 0, 0, 1);

        border-top: solid 0.5svh rgb(128, 0, 0, 1);
        border-bottom: solid 0.5svh rgb(128, 0, 0, 1); */


        filter: brightness(70%);

        transition: 2s;
    }


    .voted {
        background-color: rgba(255, 255, 255, 0.403);

        color: rgb(0, 0, 0);

        position: absolute;

        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;



        top: 47.4%;
        left: 0;
        right: 0;
        width: 17dvw;


        font-size: 3.5svh;

        text-align: center;

        padding: 2%;


        margin: auto;

        z-index: 5;
    }

    .votes-count {
        background-color: rgba(255, 255, 255, 0.403);
        color: rgb(0, 0, 0);

        position: absolute;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        top: 57.3%;
        left: 0;
        right: 0;
        width: 17dvw;

        font-size: 4.5svh;

        text-align: center;
        padding: 2%;
        margin: auto;

        z-index: 5;
    }



}

@media only screen and (max-width: 767px) {
    .main-containerComp {
        background-color: rgb(231, 231, 231);

        box-shadow: none;
        position: relative;
        display: flex;

        width: 100%;
        height: 100svh;
    }

    .content-containerComp {
        width: 99svw;
        height: 100svh;
        position: relative;
        align-content: center;
        background-color: #ffffff;
        background-color: #0049B7;

        margin: auto;
        justify-content: center;

    }

    .catalog-sectionComp {
        display: flex;

        position: relative;
        height: 70.9%;
        width: 99%;

        align-self: center;
        align-items: center;
        justify-content: space-around;
        background-color: rgb(255, 255, 255);
        border-top: solid rgb(175, 160, 160) 1px;
        border-bottom: solid rgb(198, 188, 188) 1px;

        border-radius: 10px;
        box-shadow: none;

        margin: auto;
    }

    .compare-item {
        display: flex;
        height: 41.5svh;
        width: 100%;
        align-self: center;
        min-width: 100px;
        max-height: 273px;
        margin-top: 12.5svh;
        position: relative;
    }

    .compare-image {

        width: 97.5%;
        height: 93%;
        box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.75);
        min-height: 245px;

        transition: box-shadow 1s;
        transition: -moz-box-shadow 1s;
        transition: -webkit-box-shadow 1s;

        border-radius: 0.7rem;

        margin: auto;

        z-index: 2;
    }

    .name {
        color: rgb(0, 0, 0);
        text-align: center;
        margin-top: -0.2rem;
        font-size: 2.1svh;
        width: 100%;

    }

    .name a {
        color: #9146FF;

        font-weight: bolder;
        text-align: center;

        transition: color 10.6s;

    }

    .nameHolder {
        margin-top: -2.5svh;
        width: 100%;
        height: 2rem;

        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

        position: absolute;
    }

    .voted {
        top: 52%;
        font-size: 2svh;
        width: 70%;
    }

    .votes-count {
        top: 61%;
        font-size: 3svh;
        width: 70%;
    }


    .donateLeft {
        font-size: 5svw;
        text-align: center;
        align-content: center;

        padding: 2dvw;

        position: absolute;

        background-color: #c42323d5;
        background-color: #0049B7;

        color: white;

        left: 1.5svw;
        padding-left: 8px;
        padding-right: 13px;

        width: 83%;
        top: 114.5%;


        transform: rotate(0deg);
        box-shadow: 0px 0.05dvw 0.6dvw 0.065dvh rgb(0, 0, 0);
        border-radius: 0.5dvw;


        font-weight: bold;
        z-index: 5;
    }

    .donateRight {
        font-size: 5svw;
        text-align: center;
        align-content: center;

        padding: 2dvw;


        position: absolute;

        background-color: #c42323d5;
        background-color: #0049B7;


        color: white;

        right: 1.5svw;
        padding-left: 8px;
        padding-right: 13px;

        width: 83%;
        top: 114.5%;

        transform: rotate(0deg);
        box-shadow: 0px 0.4px 0.6dvw 0.3px rgb(0, 0, 0);
        border-radius: 0.5dvw;


        font-weight: bold;
        z-index: 5;

    }


    .winner {
        border-left: solid 0.25dvw rgb(255, 234, 0);
        border-right: solid 0.25dvw rgb(255, 234, 0);

        border-top: solid 0.5svh rgb(255, 234, 0);
        border-bottom: solid 0.5svh rgb(255, 234, 0);
        filter: brightness(85%);

        transition: 1s;
    }

    .loser {
        /* border-left: solid 0.25dvw rgba(205, 0, 0, 0.639);
        border-right: solid 0.25svh rgba(205, 0, 0, 0.639);

        border-top: solid 0.5svh rgba(191, 1, 1, 0.639);
        border-bottom: solid 0.5svh rgba(205, 0, 0, 0.639); */


        filter: brightness(60%);
        opacity: 0.8;
        box-shadow: none;

        transition: 1s;
    }

    .idea {
        background-color: rgb(214, 214, 214);
        box-shadow: 0dvh 0dvh 0.3dvh 0.1dvh black;
        position: fixed;

        left: 0.5dvw;
        top: 5dvh;

        width: 9svw;
        height: 5.4svh;
        max-width: 20dvw;
        max-height: 20dvh;

        border-radius: none;
        color: rgb(0, 0, 0);
        border-radius: 100%;
        font-size: 10px;
        text-align: center;
        align-content: center;
        transition: background-color 0.2s;
        z-index: 100;
    }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
    .main-containerComp {
        height: 100svh;
    }

    .content-containerComp {
        margin-top: 0svh;
        height: 100%;
    }

    .catalog-sectionComp {
        margin-top: -25svh;
        height: 90svh;
        background-color: rgb(210, 210, 210);
        margin: auto;
    }

    .compare-item {
        height: 73.5svh;
        width: 25dvw;
        margin: auto;
    }

    .nameHolder {
        top: -0.55svw;
    }

    .compare-image {
        border-radius: 3dvh;
        height: 100%;
        width: 100%;
        min-height: auto;
    }

    .donateRight {
        top: 26svh;
        right: -15.3dvw;
        font-size: 2dvw;
        transform: rotate(90deg);
        z-index: 1;
    }

    .donateLeft {
        top: 26svh;
        left: -15.3dvw;
        font-size: 2dvw;
        transform: rotate(90deg);

    }

    .nameHolder {
        margin-top: -4.5svh;
    }

    .name {
        font-size: 1.8dvw;
    }

    .voted {
        top: 53.5%;
        font-size: 2.65svh;
        width: 67%;
    }

    .votes-count {
        top: 61%;
        font-size: 3.5svh;
        width: 67%;
    }

    .idea {
        background-color: rgb(214, 214, 214);
        box-shadow: 0dvh 0dvh 0.3dvh 0.1dvh black;

        position: fixed;

        left: 2dvw;
        top: 5dvh;
        width: 4svw;
        height: 9svh;
        max-width: 20dvw;
        max-height: 20dvh;

        border-radius: none;
        color: rgb(0, 0, 0);
        border-radius: 100%;
        font-size: 10px;
        text-align: center;
        align-content: center;
        transition: background-color 0.2s;
        z-index: 4;
    }

}

/* TABLET CSS */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .main-containerComp {
        background-color: var(--background-color-pick);

        box-shadow: inset 0px 10px 150px rgba(0, 0, 0, 0.7);

        display: flex;

        width: 100%;
        height: 100svh;

        overflow: hidden;
    }

    .content-containerComp {
        width: 99dvw;
        height: 70svh;
        align-content: center;
        margin: auto;
    }

    .catalog-sectionComp {

        display: flex;

        height: 87%;
        width: 100%;

        align-items: center;
        justify-content: space-around;

        border-radius: 10px;

        margin: auto;
    }

    .compare-item {
        display: flex;
        height: 49svh;
        width: 100%;
        top: -0.7svh;
        align-self: center;

        position: relative;
    }

    .compare-image {

        width: 97.5%;
        height: 48.5svh;

        box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.75);

        transition: box-shadow 1s;
        transition: -moz-box-shadow 1s;
        transition: -webkit-box-shadow 1s;

        border-radius: 0.7rem;

        margin: auto;

        z-index: 2;
    }

    .name {

        color: red;
        text-align: center;
        margin-top: 0.4rem;
        width: 100%;
        font-size: 2.15rem;

    }

    .name a {
        color: #9146FF;

        font-weight: bolder;
        text-align: center;

        transition: color 10.6s;

    }

    .nameHolder {
        margin-top: -2.9rem;
        width: 96.5%;
        left: 0.90dvw;
        height: 3rem;

        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

        position: absolute;
    }

    .donateLeft {
        padding: 3dvw;
        padding-top: 1dvw;

        left: -5.5dvw;
        z-index: 5;
    }

    .donateRight {
        padding: 3dvw;
        padding-bottom: 1dvw;
        right: -5.5dvw;
        z-index: 5;
    }

    .winner {
        border-left: solid 0.25dvw green;
        border-right: solid 0.25dvw green;

        border-top: solid 0.5svh green;
        border-bottom: solid 0.5svh green;


        transition: 1s;
    }

    .loser {
        border-left: solid 0.25dvw rgb(128, 0, 0, 1);
        border-right: solid 0.25dvw rgb(128, 0, 0, 1);

        border-top: solid 0.5svh rgb(128, 0, 0, 1);
        border-bottom: solid 0.5svh rgb(128, 0, 0, 1);


        filter: opacity(0.38);
        transition: 1s;
    }


    .voted {
        top: 46%;
        width: 60%;
    }

    .votes-count {
        width: 60%
    }


}


@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: landscape) {

    .content-containerComp {
        margin-top: 8.5svh;
        height: 80vh;
    }

    .catalog-sectionComp {
        margin-top: -1.5svh;
    }

    .compare-item {
        margin-top: 9svh;
        width: 100%;
        height: 60svh;
    }

    .compare-image {
        width: 32.5dvw;
        min-width: 250px;
        height: 63svh;
        transition: none;
    }

    .name {

        margin-top: 0.4rem;
        width: 100%;
        font-size: 4.15svh;

    }

    .name a {
        transition: color 3.6s;
    }

    .nameHolder {
        margin-top: -6.7dvh;
    }

    .navbar,
    .hiddenMenu {
        position: absolute;
        top: 15.5svh;
    }


    .donateLeft {
        transform: rotate(-90deg);

        font-size: 3dvw;
        left: -9.9dvw;
        top: 35.2%;

    }

    .donateRight {
        transform: rotate(-90deg);

        font-size: 3dvw;
        right: -9.5dvw;
        top: 35.2%;
    }

    .voted {
        top: 46%;
    }
}