main {
    background-color: var(--darkOrange);
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkWhite);
    height: 45%;
}

.catalog {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.topic-1,
.topic-2,
.topic-3,
.topic-4 {


    width: 35%;
    height: 220px;
    margin: 5px;
    display: flex;

    border: solid 2px var(--darkWhite);
    border-radius: 10px;

    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: 16px;

    -webkit-box-shadow: 0px 14px 11px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 14px 11px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 14px 11px -4px rgba(0, 0, 0, 0.75);

    transition: 0.5s;

}

.marvel {
    background-color: #c3c0c0;
}

.twitch {
    background-color: #9146FF;

}

.topic-1:hover,
.topic-2:hover,
.topic-3:hover,
.topic-4:hover {
    margin-top: -5px;
    transition: 0.6s;
    -webkit-box-shadow: 0px 29px 26px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 29px 26px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 29px 26px -9px rgba(0, 0, 0, 0.75);
}

.imageHolder {
    display: flex;
    /* Enable Flexbox */
    align-items: center;
    /* Center vertically */
    justify-content: center;
    /* Center horizontally */
    opacity: 0.5;
    transition: 0.6s;


    width: 100%;
    height: 100%;
}

.imageHolder:hover {
    opacity: 1;
    transition: 0.6s;
}

.imgOption-1 {
    height: 90%;

    object-fit: contain;
    transition: 1s;

}

.imgOption-2 {
    height: 100%;
    object-fit: contain;
    transition: 1s;
    border-radius: 10px;
}

.marvelDC {
    border-radius: 10px;
    background: linear-gradient(to right,
    #C63E45 0%,
    #C63E45 49%,
    #071B2F 53%,
    #071B2F 100%);
}
