/* @media only screen and (min-resolution: 3.66dppx) and (max-resolution: 6.65dppx) {
    .navbar {
        background-color: rgb(0, 0, 0);
        position: absolute;
        z-index: 10;
        display: flex;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        max-height: 15px;
    }

    .navbar h1 {
        margin: 3.5px;
        font-size: 4px;
    }

    .endpoint {
        border-radius: 2px;
        transition: 0.3s;
        cursor: pointer;

    }
} */


/* @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .navbar {

        position: absolute;
        z-index: 10;
        display: flex;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

    }

    .navbar h1 {
        padding: 5px;
        padding-top: 10px;
        padding-bottom: 15px;

        font-size: 3vw;
    }

    .endpoint {
        border-radius: 2px;
        transition: 0.3s;
        cursor: pointer;

    }


} */

@media (min-width: 200px) {
    .navbar {
        background-color: rgb(0, 0, 0);
        color: white;
        top: 12.3dvh;


        border-bottom-left-radius: 3dvh;
        border-bottom-right-radius: 1dvh;

        display: flex;
        position: fixed;
        max-width: 97%;
        padding-top: 0.2dvw;
        padding-bottom: 0.2dvw;

        box-shadow: 0px 0.4px 3px 0.3px rgb(0, 0, 0);


        z-index: 10;

        animation: onShowMenuDesktop 0.5s;
    }

    .navbar li {
        color: white;
        font-size: 1dvw;
        margin: 0.5dvw;
        font-weight: bolder;
        list-style-type: none;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        animation: onShowMenuOptionsDesktop 1s;
    }

    .navbar li:hover {
        color: rgb(38, 0, 255);

        transition: 0.3s;

    }

    .endpoint {
        border-radius: 2px;

        cursor: pointer;

        transition: 0.3s;
    }

    .endpoint:hover {

        transition: 0.3s;
    }

    .hide {
        background-color: red;

        cursor: pointer;

        padding-right: 0.7dvh;
        padding-left: 0.7dvh;
        border-bottom-right-radius: 2dvh;
        margin-top: -0.2dvh;
        
        animation: onShowMenuOptionsDesktop 1.3s;
        
        transition: 1s;
    }

    .hide:hover {
        background-color: rgb(69, 0, 208);

        transition: 1s;
    }


    .hiddenMenu {
        background: linear-gradient(to right,
                #000000 2%,
                #000000 51%,
                #000000 51%,
                #071B2F 100%);
        color: white;

        top: 12.3dvh;



        border-bottom-left-radius: 0.7dvw;
        border-bottom-right-radius: 0.7vw;


        display: flex;
        position: absolute;

        cursor: pointer;
        box-shadow: 0px 0.4px 1px 0.3px rgb(0, 0, 0);


        z-index: 10;
    }

    .active {
        background-color: red;
    }

    .hiddenMenu li {
        margin: 0.5dvw;
        font-size: 0.8dvw;

        list-style-type: none;
    }

    .hiddenMenu:hover {
        background-color: rgb(0, 0, 0);
    }
}

/* PHONE CSS */
 /* @media only screen and (max-width: 767.5px) {
    .navbar {
        background-color: rgb(0, 0, 0);
        color: white;
        top: 19.85dvh;


        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        display: flex;
        position: fixed;
        max-width: 97%;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;

        box-shadow: 0px 0.4px 3px 0.3px rgb(0, 0, 0);


        z-index: 10;

        animation: onShowMenuPhone 0.5s;
    }

    .navbar li {
        color: white;
        font-size: 3dvw;
        margin: 0.4rem;
        font-weight: bolder;
        list-style-type: none;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        animation: onShowMenuOptionsPhone 1.5s;
    }

    .navbar li:hover {
        color: rgb(38, 0, 255);

        transition: 0.3s;

    }

    .endpoint {
        border-radius: 2px;

        cursor: pointer;

        transition: 0.3s;
    }

    .endpoint:hover {

        transition: 0.3s;
    }

    .hide {
        background-color: red;

        cursor: pointer;

        padding-right: 0.7dvh;
        padding-left: 0.7dvh;
        border-bottom-right-radius: 8px;
        transition: 1s;
        margin-top: -0.2dvh;
        animation: onShowMenuOptionsPhone 2s;
    }

    .hide:hover {
        background-color: rgb(69, 0, 208);

        transition: 1s;
    }


    .hiddenMenu {
        background: linear-gradient(to right,
                #000000 2%,
                #000000 51%,
                #000000 51%,
                #071B2F 100%);
        color: white;

        top: 19.85dvh;


        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;


        display: flex;
        position: absolute;

        cursor: pointer;
        box-shadow: 0px 0.4px 1px 0.3px rgb(0, 0, 0);


        z-index: 10;
    }

    .active {
        background-color: red;
    }

    .hiddenMenu li {
        margin: 0.5rem;
        font-size: 0.8rem;

        list-style-type: none;
    }

    .hiddenMenu:hover {
        background-color: rgb(0, 0, 0);
    }
} */



/* TABLATE CSS */
/* @media only screen and (min-width: 767.6px) and (max-width: 1024px) {
    .navbar {
        background-color: black;
        color: white;
        top: 15.1dvh;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        position: fixed;
        max-width: 97%;
        padding: 0.2rem 0;
        box-shadow: 0px 0.4px 3px 0.3px rgb(0, 0, 0);
        z-index: 10;
        animation: onShowMenuTablet 0.2s;
    }

    .navbar li {
        color: white;
        font-size: 2.5dvw;
        margin: 1rem;
        font-weight: bolder;
        list-style-type: none;
        font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
        animation: onShowMenuOptionsTablet 0.5s;
    }

    .navbar li:hover {
        color: rgb(38, 0, 255);
        transition: 0.3s;
    }

    .endpoint {
        border-radius: 2px;
        cursor: pointer;
        transition: 0.3s;
    }

    .hide {
        background-color: red;
        cursor: pointer;
        padding: 0 0.7dvh;
        border-bottom-right-radius: 8px;
        margin-top: -0.2dvh;
        transition: 1s;
        animation: onShowMenuOptionsTablet 1s;
    }

    .hide:hover {
        background-color: rgb(69, 0, 208);
    }

    .hiddenMenu {
        background: linear-gradient(to right, #000000 2%, #000000 51%, #071B2F 100%);
        color: white;
        top: 15.1dvh;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        display: flex;
        position: absolute;
        cursor: pointer;
        box-shadow: 0px 0.4px 1px 0.3px rgb(0, 0, 0);
        z-index: 10;
    }

    .active {
        background-color: red;
    }

    .hiddenMenu li {
        margin: 0.5rem;
        font-size: 2rem;
        list-style-type: none;
    }

    .hiddenMenu:hover {
        background-color: black;
    }
} */




/* PHONE CSS */
@keyframes onShowMenuPhone {
    0% {
        width: 20%;
    }

    100% {
        width: 83%
    }
}

@keyframes onShowMenuOptionsPhone {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

/* TABLET CSS */
@keyframes onShowMenuTablet {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes onShowMenuOptionsTablet {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

/*DESKTOP CSS*/
@keyframes onShowMenuDesktop {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes onShowMenuOptionsDesktop {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}